/* @import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Mouse+Memoirs&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,100;1,400;1,500;1,900&display=swap"); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  height: 100vh;
  font-weight: 100vw;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  bottom:85;
  z-index: 986;
  border-bottom: 1px solid #dadce0;
}
.logo-section {
  display: flex;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 8px;
}
.nav-more {
  padding: 12px 12px 10px 12px;
  margin: 0 4px;
  cursor: pointer;
}
.nav-more svg {
  width: 25px;
  height: 25px;
  fill:#767676;
}
.nav-logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.nav-logo img {
  height: 40px;
  width: 45px;
  margin-bottom: 4px;
  padding-right: 4px;
}
.nav-logo a {
  text-decoration: none;
}
.nav-logo span {
  display: flex;
  align-items: center;
  color:#767676;
  font-size: 21px;
  font-weight: 500;
  vertical-align: middle;
  top:-1.5px ;
  cursor: pointer;

}
/* SEARCH BAR */
.search form {
  display: flex;
  align-items: center;
  height: 49px;
  width: 720px;
  background-color: rgb(241 243 244);
  border-radius: 8px;
  margin-left: 80px;
  margin-right: 49px;
  opacity: 1;
}
.question svg {
  width: 24px;
  height: 24px;
  fill:#767676;
  
}

.question {
  border: none;
  padding: 0px 5px;
  margin:0px 3px;
  background-color: rgb(241 243 244);
}
.circle{
  padding: 8px 10px;
}
.question :hover {
  background-color: rgb(226, 223, 223);
  border-radius: 50%;
}
.to-search input {
  width: 600px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(241 243 244);
  font-size: 16px;
}
.settings-section{
  display: flex;
  margin-left: 70px;
}

.material-symbols-outlined {
  font-size: 24px;
  color: #767676;
  cursor: pointer;
  padding: 10px;

}
.account-profile{
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 4px;

}
.g-options {
  padding: 8px 4px;
}
.grid {
  padding: 4px 2px 4px 0px;
}
.grid a {
  padding: 8px;
}
.grid svg {
  width: 24px;
  height: 24px;
  fill:#767676;
}

.personal-login {
  padding: 4px 2px 4px 2px;
} 
.login-details {
  padding: 4px;
}
.login-details img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 64px;
  display: flex;
  flex-direction: column;
  width: 70px;
  padding: 8px;
  padding-left: 10px;
  overflow-x: hidden;
  color: #5f6368;
  /* background-color:lightblue; */
}
.side-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.material-icons-outlined{
  font-size: 24px;
  font-weight: 500;
  padding: 12px;
}
.sidebar .words {
  margin-left: 20px;
  width: 250px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.active {
  background: #fef0c3;
  border-radius: 50%;
  color: black;
}
.active:hover {
  background: #fef0c3;
  cursor: pointer;
}

